@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    align-items: center;
    justify-content: center;
}

.container {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    min-height: 200px;
    background-color: black;
    color: white;
}


footer {
    min-height: 200px;
    background-color: black;
    color: white;
}